*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.heart{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    margin-top: 40%;
    transform: rotate(-45deg);
    



}

    

.container{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin-top:40%;
}
.heart::before{
    content: '';
    width: 100px;
    height: 100px;
    background-color:red;
    border-radius: 60px;
    position: absolute;
    top: -50px;
    left: 0px;

}
.heart::after{
    content: '';
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 60px;
    position: absolute;
    top: 0px;
    left: 49px;
} 


  body{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* min-height: 100vh; */
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);


  }
  .wrapper{
    display: flex;
  }
  .wrapper .static-txt{
    color: rgb(7, 0, 0);
    font-size: 60px;
    font-weight: 400;
  }
  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }
  .dynamic-txts li{
    list-style: none;
    color: red;
    font-size: 60px;
    font-weight: 500;
    position: relative;
    top: 0;
    
    animation: slide 12s steps(4) infinite;
  }
  @keyframes slide {
    100%{
      top: -360px;
    }
  }
  .dynamic-txts li span{
    position: relative;
    margin: 5px 0;
    line-height: 90px;
  }
  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    /* background-image: linear-gradient(to right, #ff6e7f, #bfe9ff); */

    border-left: 2px solid #300505;
    animation: typing 3s steps(10) infinite;
  }
  @keyframes typing {
    40%, 60%{
      left: calc(100% + 30px);
    }
    100%{
      left: 0;
    }
  }
  #main{
    top: 0%;
    position: absolute;
    margin-top: -50px;
    /* border: 2px solid red; */
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .touch:hover{
    background-color: cyan;
  }

  .touch{display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100%;
    border-radius: 40px;

    margin-top:140%;
    position: absolute;
    border: 2px solid pink;
  }
  a{color:red;
    text-decoration: none;
  }
  li{
    list-style: none;
  }
  @media screen and ( max-width:455px) {
    .wrapper .static-txt{
        color: #fff;
        font-size: 25px;
        font-weight: 400;
      }
    
      .dynamic-txts li{
        list-style: none;
        color: #FC6D6D;
        font-size: 20px;
        font-weight: 500;
        position: relative;
        top: 0;
        animation: slide 12s steps(4) infinite;
      }
      @keyframes slide {
        100%{
          top: -360px;
        }
  }
  .dynamic-txts li span{
    position: relative;
    margin: ;
    line-height: 50px;
    /* border: 2px solid green; */
  }

  .wrapper .dynamic-txts{
    margin-left: 15px;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
  }

  .dynamic-txts li{
    list-style: none;
    color: red;
    font-size: 35px;
    font-weight: 500;
    position: relative;
    top: 0;
    margin-top: -10;
    animation: slide 12s steps(4) infinite;
  }

  .dynamic-txts li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 200%;
    width: 100%;
        
    border-left: 2px solid #FC6D6D;
    background-image: linear-gradient(to right, #ff6e7f, #bfe9ff);

    animation: typing 3s steps(10) infinite;
  }
  }